
/* base */
body {
    margin: 0;
    background: brown;
}

/* navigation */
nav {
    background: blue;
}

nav a {
    float: left;
    width: 25%;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* header */
header {
    background: green;
}

/* main */
main {
    background: white;
}

aside.sidebar {
    height: 500px;
    width: 263px;
    background: purple;
}



aside.sidebar.col-left-fixed {
    float: none;
    position: fixed;
    top: 1em;
}

aside.sidebar a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    background: darkblue;
}

article {
    float: right;
    width: 72%;
    background: gray;
}

section#project-overview .col-left, section#project-overview .col-right{
    width: 48%;
}

/* footer */
footer {
    height: 100px;
    text-align: center;
    background: brown;
}

/* utility */
.content-wrap {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background: sandybrown;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.col-left {
    position: static;
    float: left;
}

.col-right {
    position: static;
    float: right;
}