
/* base */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}

h2 {
    padding-top: 1em;
}

/* navigation */
.navbar {
    background: rgba(0,0,0,0.8);
}

.navbar a {
    float: left;
    width: 25%;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav a:hover, .navbar a.active {
    color: darkgray;
}

/* header */
header {
    padding: 3em;
    background-image: url("header-background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* main */
main {
    background: white;
    padding: 3em;
    padding-bottom: 4em;
}

aside {
    margin-top: 2em;
    height: 500px;
    width: 263px;
    background: #f2f2f2;
}

aside.col-left-fixed {
    float: none;
    position: fixed;
    top: 0;
}

aside nav.sidebar a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: #000;
}

aside nav.sidebar a:hover {
    color: darkgray;
}

article {
    float: right;
    width: 65%;
}

section#project-overview .col-left, section#project-overview .col-right{
    width: 48%;
}

/* footer */
footer {
    height: 100px;
    padding-top: 2em;
    text-align: center;
    background: #f2f2f2;
}

/* utility */
.content-wrap {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.col-left {
    position: static;
    float: left;
}

.col-right {
    position: static;
    float: right;
}

/* table */
table {
    margin: 1em;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered>thead>tr>th {  
    padding: 6px;  
    vertical-align: bottom;
    text-align: left;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
}

.table-bordered>tbody>tr>td {
    padding: 6px;
    border: 1px solid #ddd;
    vertical-align: top;
}
